<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>detail</key>
		<string>黄瓜是夏季补水的最佳食物，它的水分含量是所有食物中最高的。黄瓜可以做沙拉，也可以做成凉菜。用黄瓜、酸奶、薄荷和冰块一起做成冰镇饮品也是个不错的选择。</string>
		<key>image</key>
		<string>黄瓜</string>
		<key>title</key>
		<string>黄瓜 ，含水量96.7%</string>
	</dict>
	<dict>
		<key>detail</key>
		<string>平时，营养学家更愿意推荐菠菜等高纤蔬菜。但是说到补水，生菜要比它们高出不少。当夏季来临，将生菜作为三明治或者其他主菜的配菜来吃，是非常健康的补水方法。</string>
		<key>image</key>
		<string>生菜</string>
		<key>title</key>
		<string>生菜，含水量95.6%</string>
	</dict>
	<dict>
		<key>detail</key>
		<string>芹菜的能量很低，但它包含的大量水分和膳食纤维能有效抑制人的食欲。此外，芹菜还富含叶酸、维生素C和维生素K。因为芹菜中含有大量水分，它还能中和胃酸，有效治疗胃灼热等不适症状。</string>
		<key>image</key>
		<string>芹菜</string>
		<key>title</key>
		<string>芹菜，含水量95.4%</string>
	</dict>
	<dict>
		<key>detail</key>
		<string>水萝卜非常适合春夏吃，它具有甜辣的口味、鲜艳的颜色和爽脆的质地，很适合与其他蔬菜一起拌沙拉吃。</string>
		<key>image</key>
		<string>水萝卜</string>
		<key>title</key>
		<string>水萝卜，含水量95.3%</string>
	</dict>
	<dict>
		<key>detail</key>
		<string>西红柿是很好的补水食物，如果与葡萄、樱桃等食物搭配一起吃，补水效果会更好。</string>
		<key>image</key>
		<string>西红柿</string>
		<key>title</key>
		<string>西红柿，含水量94.5%</string>
	</dict>
	<dict>
		<key>detail</key>
		<string>所有鲜辣椒都含有大量水分，尤其是青椒。它包含的抗氧化成分不比其他辣椒少。如果厌倦了胡萝卜和芹菜等蔬菜做沙拉，也许青椒可以给你提供一些改变。</string>
		<key>image</key>
		<string>青椒</string>
		<key>title</key>
		<string>青椒，含水量93.9%</string>
	</dict>
	<dict>
		<key>detail</key>
		<string>不要小看花椰菜，它不仅含有大量的水分，还可以降低胆固醇和对抗癌症。2012年的一项研究发现，十字花科蔬菜，特别是花椰菜，可以有效降低罹患乳腺癌的风险</string>
		<key>image</key>
		<string>花椰菜</string>
		<key>title</key>
		<string>花椰菜，含水量92.1%</string>
	</dict>
	<dict>
		<key>detail</key>
		<string>西瓜含水量丰富是显而易见的，并且西瓜中也含有抗氧化剂——番茄红素，是夏季补水的不错选择。</string>
		<key>image</key>
		<string>西瓜</string>
		<key>title</key>
		<string>西瓜，含水量91.5%</string>
	</dict>
	<dict>
		<key>detail</key>
		<string>菠菜比含水量丰富的莴苣的补水作用更好。它含有丰富的叶绿素、钾、膳食纤维以及有益大脑健康的叶酸。此外，吃1杯(约合71克)菠菜叶便可满足维生素E日推荐量的15%，维生素E有助于防止人体受到自由基伤害，从而抗击衰老。</string>
		<key>image</key>
		<string>菠菜</string>
		<key>title</key>
		<string>菠菜，含水量91.4%</string>
	</dict>
	<dict>
		<key>detail</key>
		<string>杨桃属于热带水果，含水量丰富，口感类似菠萝。杨桃外形很抢眼，是做水果拼盘的好食材。它富含多种抗氧化剂，有益心脏健康。需要注意的是，因为杨桃草酸含量高，肾病患者应少吃。</string>
		<key>image</key>
		<string>杨桃</string>
		<key>title</key>
		<string>杨桃，含水量91.4%</string>
	</dict>
	<dict>
		<key>detail</key>
		<string>所有浆果都有助于身体补充水分，但是草莓是最好最容易吃到的浆果。草莓可以加入酸奶中一起食用，有助于补充膳食纤维、益生菌和蛋白质，是运动后的绝佳食物</string>
		<key>image</key>
		<string>草莓</string>
		<key>title</key>
		<string>草莓，含水量91%</string>
	</dict>
	<dict>
		<key>detail</key>
		<string>西兰花富含膳食纤维、钾、胡萝卜素和维生素C，是十字花科食物中唯一含有莱菔硫烷的蔬菜，该物质可提高人体免疫力，有助于清除体内的致癌物。</string>
		<key>image</key>
		<string>西兰花</string>
		<key>title</key>
		<string> 西兰花，含水量90.7%</string>
	</dict>
	<dict>
		<key>detail</key>
		<string>研究发现，这种多汁有刺激味的柑橘属水果有助于降低血脂，缩减腰围。每天吃一个葡萄柚可使坏胆固醇降低15.5%，使甘油三酯水平降低27%。另外，葡萄柚中的某些成分还有助于燃烧脂肪，稳定血糖，降低食欲。</string>
		<key>image</key>
		<string>葡萄柚</string>
		<key>title</key>
		<string>葡萄柚，含水量90.5%</string>
	</dict>
	<dict>
		<key>detail</key>
		<string>小胡萝卜比成熟的胡萝卜含水量更高，后者含水量仅为88.3%。小胡萝卜携带方便，随时可以当零食食用。也可以蘸酱吃，或者加入凉拌菜中食用。</string>
		<key>image</key>
		<string>小胡萝卜</string>
		<key>title</key>
		<string>小胡萝卜，含水量90.4%</string>
	</dict>
	<dict>
		<key>detail</key>
		<string>哈密瓜含水量丰富热量低。6盎司(约合170克)哈密瓜仅含热量50卡路里，但却可以满足维生素C的日推荐量。</string>
		<key>image</key>
		<string>哈密瓜</string>
		<key>title</key>
		<string>哈密瓜，含水量90.2%</string>
	</dict>
</array>
</plist>
